
<div class="content" data-action="mousemove->mooving-effect-object#moovingEffect" data-controller="mooving-effect-object">
  <div class="mininavbarre">
    <% if user_signed_in? %>

      <li class="nav-item dropdown">
        <%= image_tag "alexis.png",
          class: "avatar dropdown-toggle",
          id: "navbarDropdown",
          data: { bs_toggle: "dropdown" },
          'aria-haspopup': true,
          'aria-expanded': false
        %>

        <div class="dropdown-menu dropdown-menu-end"
          aria-labelledby="navbarDropdown"
        >
          <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
        </div>
      </li>

    <% else %>

      <li class="nav-item">
        <%= link_to "Login", new_user_session_path, class: "nav-link" %>
      </li>

    <% end %>
  </div>


  <div class="glitch">
    <div class="glitch-img" data-mooving-effect-object-target="object"></div>
    <div class="glitch-img" data-mooving-effect-object-target="object"></div>
    <div class="glitch-img" data-mooving-effect-object-target="object"></div>
    <div class="glitch-img" data-mooving-effect-object-target="object"></div>
    <div class="glitch-img" data-mooving-effect-object-target="object"></div>
  </div>

  <div class="home-txt">
    <h2 class="content-title">
      Escape ... <br/>
      or not.
      <span class="content-text">
        Ne quitte pas la porte du regard.
      </span>
    </h2>
  </div>
</div>

<section data-controller="game-subscription status-switch">
  <%= link_to "► Rejoindre une salle (Auto) ", random_games_path, class: "btn-distorition" %>
  <%= link_to "► Chercher une salle",games_path, class: "btn-distorition" %>
  <%= link_to "► Créer une salle",new_game_path, class: "btn-distorition" %>
</section>
