<%# <div class="noise">
</div> %>

<div class="d-flex justify-content-center align-items-center h-100 position-relative"
  data-controller="mooving-effect-object"
>
  <div class="marble-floor fade-in-floor-s"
    data-mooving-effect-object-target="floor"
    data-game-subscription-target="floorUser1Room1"
  >
  </div>

  <div class="scene" >

    <div class="fade-in-object-n">
      <%= image_tag "chandelier_1.png",
        class: "chandelier-img position-absolute fade-in-chandelier-n",
        height: "200",
        "data-mooving-effect-object-target":"door",
        "data-game-subscription-target":"chandelierUser1Room1"
      %>
    </div>

    <div>
      <div>
        <%= image_tag "porte_1.png",
          class: "door-img w-100 fade-in-door-n",
          height: "500",
          "data-game-subscription-target":"doorUser1Room1",
          "data-mooving-effect-object-target":"carpet"
        %>

        <%= image_tag "carpet_2.png",
          class: "carpet2-img position-absolute fade-in-carpet-n",
          height: "150",
          "data-mooving-effect-object-target":"carpet",
          "data-game-subscription-target":"carpetUser1Room1"
        %>

        <%= image_tag "chair_1.png",
          class: "chair1-img position-absolute fade-in-chair-e",
          height: "250",
          "data-mooving-effect-object-target":"chair",
          "data-game-subscription-target":"chairUser1Room1"
        %>
      </div>

      <div class="position-absolute"
        data-controller="status-switch "
        data-status-switch-advance-path-value="<%= advance_game_path(@game) %>"
      >
        <div class="position-relative">
          <div class="position-absolute frame frame2 d-flex justify-content-center align-items-center fade-in-frame2-w"
            data-mooving-effect-object-target="object"
            data-game-subscription-target="frame2User1Room1"
          >
            <button class="button-green"
              data-status-switch-target="totem"
              data-action="click->status-switch#switch"
            >
            </button>
          </div>

          <div class="position-absolute frame frame1 d-flex justify-content-center align-items-center fade-in-frame1-w"
            data-mooving-effect-object-target="object"
            data-game-subscription-target="frame1User1Room1"
          >
            <button class="button-red"
              data-status-switch-target="totem"
              data-action="click->status-switch#switch"
            >
            </button>
          </div>

          <div class="position-absolute frame frame3 d-flex justify-content-center align-items-center fade-in-frame3-e "
            data-mooving-effect-object-target="object"
            data-game-subscription-target="frame3User1Room1"
          >
            <button class="button-blue"
              data-status-switch-target="totem"
              data-action="click->status-switch#switch"
            >
            </button>
          </div>

          <div class="d-flex justify-content-center align-items-center">

            <%= image_tag "frame_101.png",
              class: "position-absolute frame101-img fade-in-frame101-w surbrillance",
              height: "90",
              "data-mooving-effect-object-target":"object",
              "data-game-subscription-target":"frame101User1Room1"
            %>

            <%= image_tag "frame_102.png",
              class: "position-absolute frame102-img fade-in-frame102-e surbrillance",
              height: "140",
              "data-mooving-effect-object-target":"object",
              "data-game-subscription-target":"frame102User1Room1"
            %>
            <div class="recadrage1">
              <%= image_tag "frame_103.png",
                class: "position-absolute frame103-img fade-in-frame103-w surbrillance",
                height: "180",
                "data-mooving-effect-object-target":"object",
                "data-game-subscription-target":"frame103User1Room1"
              %>
            </div>

            <%= image_tag "frame_104.png",
              class: "position-absolute frame104-img fade-in-frame104-e surbrillance",
              height: "70",
              "data-mooving-effect-object-target":"object",
              "data-game-subscription-target":"frame104User1Room1"
            %>

            <%= image_tag "frame_105.png",
              class: "position-absolute frame105-img fade-in-frame105-e surbrillance",
              height: "140",
               "data-mooving-effect-object-target":"object",
              "data-game-subscription-target":"frame105User1Room1"
            %>

            <div class="d-none transparent-door"
              data-status-switch-target="door"
              data-game-subscription-target="door"
              data-action="click->status-switch#openDoorOne"
            >
              !
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
