<div class="d-flex justify-content-center align-items-center h-100 position-relative"
  style= "width:1000px"
  data-controller="door-opening mooving-effect-object"
  data-door-opening-advance-path-value="<%= advance_game_path(@game) %>"
>
  <div class="marble-floor-room2 fade-in-floor-bis-s"
    data-mooving-effect-object-target="floor"
  >
  </div>

  <div>
    <%= image_tag "porte_4.png",
      class: "door-img w-100 fade-in-door-bis-n",
      height: "310",
      "data-action": "click->door-opening#deactivateDoorTrap",
      "data-mooving-effect-object-target":"carpet"
    %>

    <%= image_tag "carpet_3a.png",
      class: "carpet-img position-absolute fade-in-carpet-bis-se",
      height: "80",
      "data-mooving-effect-object-target":"carpet"
    %>

    <%= image_tag "bombonne_1.png",
      class: "bombonne-img position-absolute fade-in-bombonne-ne",
      height: "90",
      "data-mooving-effect-object-target":"chair"
    %>

    <%= image_tag "chemine_1.png",
      class: "chemine-img position-absolute fade-in-chemine-ne",
      height: "430",
      "data-mooving-effect-object-target":"carpet"
    %>

    <%= image_tag "bureau_1.png",
      class: "bureau-img position-absolute fade-in-bureau-sw",
      height: "200",
      "data-mooving-effect-object-target":"chair"
    %>

    <%= image_tag "livre_2.png",
      class: "livre-img position-absolute fade-in-livre-se",
      height: "70",
      "data-mooving-effect-object-target":"chair"
    %>

    <%= image_tag "bougie_2.png",
      class: "bougie-img position-absolute fade-in-bougie-se",
      height: "30",
      "data-mooving-effect-object-target":"object"
    %>

    <%= image_tag "piledelivre_2.png",
      class: "pile-img position-absolute fade-in-pile2-se",
      height: "270",
      "data-mooving-effect-object-target":"object"
     %>

    <button type="button"
      class="btn"
      data-bs-toggle="modal"
      data-bs-target="#exampleModal"
    >
      <%= image_tag "piledelivre_1.png",
        class: "pile-img1 position-absolute fade-in-pile1-se",
        height: "180",
        "data-mooving-effect-object-target":"object"
      %>

    </button>

    <%= image_tag "table_2.png",
      class: "table-img position-absolute fade-in-buffet-sw",
      height: "150",
      "data-mooving-effect-object-target":"object"
    %>

    <%= image_tag "lustre_2.jpg",
      class: "lustre-img position-absolute fade-in-lustre-n",
      height: "150",
      "data-mooving-effect-object-target":"object"
    %>

    <%= image_tag "clef_1.png",
      class: "clef-img position-absolute fade-in-clef1-sw",
      height: "10",
      "data-action": "click->door-opening#grabKey",
      "data-door-opening-good-key-param": "false",
      "data-mooving-effect-object-target":"object"
    %>

    <%= image_tag "clef_2.png",
      class: "clef2-img position-absolute fade-in-clef2-ne",
      height: "25",
      "data-action": "click->door-opening#grabKey",
      "data-door-opening-good-key-param": "true",
      "data-mooving-effect-object-target":"object"
    %>

    <%= image_tag "clef_3.png",
      class: "clef3-img position-absolute fade-in-clef3-se",
      height: "20",
      "data-action": "click->door-opening#grabKey",
      "data-door-opening-good-key-param": "false",
      "data-mooving-effect-object-target":"object"
    %>
  </div>

  <div  class="position-absolute"
    data-controller="door-opening"
    data-door-opening-advance-path-value="<%= advance_game_path(@game) %>"
  >
  </div>

</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <img src="" alt="">
        <div>
          <p>Une pile de livres poussiéreux</p>
        </div>
    </div>
  </div>
</div>
