<div class="content smt" data-action="mousemove->mooving-effect-object#moovingEffect" data-controller="mooving-effect-object">

  <div class="glitch">
    <div class="glitch-img-new" data-mooving-effect-object-target="object"></div>
    <div class="glitch-img-new" data-mooving-effect-object-target="object"></div>
    <div class="glitch-img-new" data-mooving-effect-object-target="object"></div>
    <div class="glitch-img-new" data-mooving-effect-object-target="object"></div>
    <div class="glitch-img-new" data-mooving-effect-object-target="object"></div>
  </div>

  <div class="new-game-form">
    <%= simple_form_for @game do |f| %>
      <%= f.input :name, label: "Session's name",
                  error: "This name is already taken, choose another one ",
                  placeholder: "#{current_user.email}'s session" %>
      <button type="submit" class="btn-distorition"> ► Create a session </button>
    <% end %>
  </div>

  <section data-controller="game-subscription status-switch" >
    <%= link_to "► Join a Game (Auto) ", random_games_path, class: "btn-distorition" %>
    <%= link_to "► Search a Game",games_path, class: "btn-distorition" %>
    <%= link_to "► Create a Game",new_game_path, class: "btn-distorition" %>
  </section>

</div>
