<div class="content smt" data-action="mousemove->mooving-effect-object#moovingEffect" data-controller="mooving-effect-object">

  <div class="glitch">
    <div class="glitch-img-new" data-mooving-effect-object-target="object"></div>
    <div class="glitch-img-new" data-mooving-effect-object-target="object"></div>
    <div class="glitch-img-new" data-mooving-effect-object-target="object"></div>
    <div class="glitch-img-new" data-mooving-effect-object-target="object"></div>
    <div class="glitch-img-new" data-mooving-effect-object-target="object"></div>
  </div>

  <div class="new-game-form">
    <%= simple_form_for @game do |f| %>
      <%= f.input :name, label: "Nom de la salle",
                  error: "Le nom de salle est déjà utilisé.",
                  placeholder: "#{current_user.email}'s session" %>
      <button type="submit" class="btn-distorition"> ► Create a session </button>
    <% end %>
  </div>

  <section data-controller="game-subscription status-switch" >
    <%= link_to "► Rejoindre une salle (Auto) ", random_games_path, class: "btn-distorition" %>
    <%= link_to "► Chercher une salle",games_path, class: "btn-distorition" %>
    <%= link_to "► Créer une salle",new_game_path, class: "btn-distorition" %>
  </section>

</div>
