<div
  data-controller="game-subscription"
  data-game-subscription-game-id-value="<%= @game.id %>"
>
    <div
      class="<%= @game.status == "pending" ? "": "d-none" %> waitpage"
      data-game-subscription-target="pending"
    >
      <%= render "waiting_for_user2" %>
    </div>

    <%# rules decription / situation before the start btn in the form bellow  %>
    <div
      class="<%= @game.status == "lobby_full" ? "" : "d-none" %>"
      data-game-subscription-target="lobbyFull"
    >
      <%= render "waiting_room" %>
    </div>
    <%# status = start => game starts and each player is directed to its respective user screen IF STATUS %>

    <div
      class="<%= @game.status == "start" ? "": "d-none"%>"
      data-game-subscription-target="gameStart"
    >
      <%= render "start_animation" %>
    </div>

    <div
      class="<%= @game.status == "dead" ? "": "d-none"%>"
      data-game-subscription-target="gameDead"
    >
     <%= render "dead_screen" %>
    </div>

    <div
      class="<%= @game.status == "ended" ? "": "d-none"%>"
      data-game-subscription-target="gameEnded"
    >
     <%= render "end_screen" %>
    </div>

    <% if current_user == @game.first_user %>
      <div
        class="full-height-game-content <%= @game.status == "level1" ? "": "d-none hidden-object"%> "
        data-game-subscription-target="gameLevel1"
      >
        <%= render "room_one_user_one" %>
      </div>

      <div
        class="<%= @game.status == "level2" ? "": "d-none"%>"
        data-game-subscription-target="gameLevel2"
      >
        <%= render "user1_room2" %>
      </div>

    <% elsif current_user === @game.second_user %>
      <div
        class="<%= @game.status == "level1" ? "": "d-none"%>"
        data-game-subscription-target="gameLevel1"
      >
        <%= render "room_one_user_two" %>
      </div>

      <div
        class="<%= @game.status == "level2" ? "": "d-none"%>"
        data-game-subscription-target="gameLevel2"
      >
        <%= render "user2_room2" %>
      </div>
    <% end %>

</div>
